.App {
  text-align: center;
}
body {
background-color: red;
background-size: cover;
}

 .cards {
   display:flex;  
   justify-content: space-evenly;
   flex-wrap: wrap;
 }
 .card {
  width: 300px;
  margin: 10px
 }

 #button {
   background-color:#1b1b1b;
   color: seashell;
   
 }

 #container {
   background-color:#1b1b1b;
  
  }

  #mainBody {
    background-color:#1b1b1b;
  }

 #main {
   margin-top: 200px;
 }

 #mainh1 {
   text-align: center;
   color: seashell;
   font-family: 'Karla',sans-serif;
 }
  #mainP {
    text-align: center;
   color: seashell;
   font-size: 25px;
   font-family: 'Fjalla One', sans-serif ;

  }