.App {
  text-align: center;
}
body {
background-size: cover;
}

 .cards {
   display:flex;  
   justify-content: space-evenly;
   flex-wrap: wrap;
 }
 .card {
  width: 300px;
  margin: 10px
 }

 #button {
   background-color:#1b1b1b;
   color: seashell;
   
 }

 #container {
   background-color:#1b1b1b;
  
  }

  #mainBody {
    background-color:#1b1b1b;
  }

 #main {
   margin-top: 200px;
 }

 #mainh1 {
   text-align: center;
   color: seashell;
   font-family: 'Karla',sans-serif;
 }
  #mainP {
    text-align: center;
   color: seashell;
   font-size: 25px;
   font-family: 'Fjalla One', sans-serif ;

  }

.restaurant {
  background-color: #1b1b1b;
  height: 1200px;
}

.restText {
  font-family: 'Karla';
  color: seashell;
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
}

.restText2 {
  font-family: 'Karla';
  color: seashell;
  text-align: center;
  margin-top: 10px;
  font-size: 20px;
}

.resthead {
  font-family: 'Fjalla One';
  color: white;
  margin-top: 15px;
}

.resthead2 {
  font-family: 'Fjalla One';
  color: white;
  margin-top: 40px; 
}

.nav {
  background-color: #391f0d;
  display: flex;
  justify-content: space-evenly;
}

.home, .about {
  color: seashell;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 25px;
}

.mainimage {
  width: 300px;
  margin-top: 18px;
}